<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>4Play</title>
    <script src="https://kit.fontawesome.com/00f313d45b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <div class="name_logo">
        <img src="./images/newlogoWhite.png" class="logo" alt = "logo"> <h1>4Play</h1>
      </div>
      <div>
        <ul>
          <li>Home <i class="fa-brands fa-fort-awesome"></i></li>
          <li>Login <i class="fa-solid fa-user-astronaut"></i></li>
        </ul>
      </div>
    </header>
     
    </div>

    <nav>
      <ul>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
      </ul>
      <!-- TODO: maybe add a icon to indicate to the user they can hover over the sidebar -->
      <div class="hover-part"></div>
    </nav>

    <main>
      {{{body}}}
    </main>

    <footer></footer>
  </body>
</html>