<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>4Play</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h1>4Play</h1>
    </header>

    <nav>
      <ul>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
      </ul>
      <!-- TODO: maybe add a icon to indicate to the user they can hover over the sidebar -->
      <div class="hover-part"></div>
    </nav>

    <main>
      {{{body}}}
    </main>

    <footer></footer>
  </body>
</html>