<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>4Play</title>
    <script src="https://kit.fontawesome.com/00f313d45b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/game.css">
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link type="text/css" rel="stylesheet" href="simplePagination/simplePagination.css"/>
  </head>

  <body>
    <header>
      <a href="/">
        <div class="logo_name">
          <img src="/images/logoWhite.png" alt = "logo" class="logo"> <h1>4Play</h1>
        </div>
      </a>
      <div class="header-li">
        <ul>
          <a href="/" ><li>Home <i class="fa-brands fa-fort-awesome"></i></li></a>
          {{#if loggedIn}}
          <a href=""><li id="logout">Logout <i class="fa-solid fa-skull-crossbones"></i></li></a>
          {{else}}
          <a href ="/login"><li>Login<i class="fa-solid fa-user-astronaut"></i></li></a>
          {{/if}}
        </ul>
      </div>
    </header>
     
    </div>

    <aside>
      <ul>
        <li class="sidebar">Categories
           <div class="dropdown-content">
              <a href="/game/category/1">Single-player</a>
              <a href="/game/category/2">Multi-player</a>
              <a href="/game/category/3">Online Multi-Player</a>
              <a href="/game/category/4">Co-op</a>
              <a href="/game/category/5">Local Co-op</a>
              <a href="/game/category/6">Online Co-op</a>
              <a href="/game/category/7">Local Multi-Player</a>
            </div>
        </li> 
          
        <li class="sidebar">Platforms
          <a href="/">PC</a>
        </li>

        <li class="sidebar">Genres
          <ul>
            <li class="innerSidebar">
              <a href="/game/genres/1"><div class="genres-container"><img class="img-sidebar" src="/images/strategy.jpg"><span class="text-sidebar">Strategy</span></div></a>
            </li>
            
            <li class="innerSidebar">
              <a href="/game/genres/2"><div class="genres-container"><img class="img-sidebar" src="/images/action.jpg"><span class="text-sidebar">Action</span></div></a>
            </li>

            <li class="innerSidebar">
              <a href="/game/genres/3"><div class="genres-container"><img class="img-sidebar" src="/images/rpg.jpg"><span class="text-sidebar">RPG</span></div></a>
            </li>

            <li class="innerSidebar">
              <a href="/game/genres/4"><div class="genres-container"><img class="img-sidebar" src="/images/shooter.jpg"><span class="text-sidebar">Shooter</span></div></a>
            </li>

            <li class="innerSidebar">
              <a href="/game/genres/5"><div class="genres-container"><img class="img-sidebar" src="/images/racing.jpg"><span class="text-sidebar">Racing</span></div></a>
            </li>

            <li class="innerSidebar">
              <a href="/game/genres/6"><div class="genres-container"><img class="img-sidebar" src="/images/sport.jpeg"></a><span class="text-sidebar">Sports</span></div></a>
            </li>
          </ul>
        </li>
      </ul>
     
      <div class="hover-part"><i class="fa-solid fa-arrow-right arrow"></i></div>
    </aside>

    <main>
      {{{body}}}
    </main>

    {{!-- <div class="searchgame">
      <label style= "color:aliceblue" for="search" class="form-label">Search Game</label>
      <input style= "background-color:aliceblue"type="text" class="form-control" id="search" />
    </div> --}}

<div id="pagination"></div>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
{{!-- jquery autofill links --}}
 
{{!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/js/gameAutoFill.js"></script>
<script type="text/javascript" src="/js/games.js"></script>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <footer>dsfasdf</footer> --}}
  </body>
</html>




{{!-- links to pagination --}}
{{!-- <script type="text/javascript" src="/simplePagination/jquery.js"></script>
<script type="text/javascript" src="/simplePagination/jquery.simplePagination.js"></script> --}}

