<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>4Play</title>
    <script src="https://kit.fontawesome.com/00f313d45b.js" crossorigin="anonymous"></script>
    {{!-- font familly GLITVH--}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap" rel="stylesheet">
    {{!-- font-family: 'Fira Code', monospace --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    {{!-- font-family: 'Share Tech Mono', monospace; --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    {{!-- font-family: 'Chakra Petch', sans-serif;/ --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <div class="logo_name">
        <img src="/images/logoWhite.png" alt = "logo" class="logo"> <h1>4Play</h1>
      </div>
      <div>
        <ul>
          <li>Home <i class="fa-brands fa-fort-awesome"></i></li>
          <li>Login <i class="fa-solid fa-user-astronaut"></i></li>
        </ul>
      </div>
    </header>
     
    </div>

    <nav>
      <ul>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
      </ul>
      <!-- TODO: maybe add a icon to indicate to the user they can hover over the sidebar -->
      <div class="hover-part"></div>
    </nav>

    <main>
      {{{body}}}
    </main>

    <footer></footer>
  </body>
</html>