<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>4Play</title>
    {{!-- Fontawesome Link --}}
    <script src="https://kit.fontawesome.com/00f313d45b.js" crossorigin="anonymous"></script>
    {{!-- Jquery link --}}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    
    {{!-- TODO: Pagination link --}}
    <link type="text/css" rel="stylesheet" href="simplePagination/simplePagination.css"/>
    
    {{!-- In-house CSS --}}
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/game.css" />
    <link rel="icon" href="#" />
    {{!-- Jquery Script --}}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    {{!-- Jquery functionality Script --}}
    <script defer type="text/javascript" src="/js/gamesAutoFill.js"></script>
    {{!-- Sweetalert --}}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>

  <body>
    <header>
      <a href="/">
        <div class="logo_name">
          <img src="/images/logoWhite.png" alt = "logo" class="logo"> <h1>4Play</h1>
        </div>
      </a>
      <div class="header-li">
        <ul>
          <li>
             <div class="searchGame">
                <label for="search" class="form-label">Search Games</label>
                <input class="form-control searchHeader" id="search" />
             </div>
          </li>
          <a href="/" ><li><spam>Home </spam><i class="fa-brands fa-fort-awesome"></i></li></a>
          {{#if loggedIn}}
          <a href=""><li id="logout"><spam>Logout </spam><i class="fa-solid fa-skull-crossbones"></i></li></a>
          {{else}}
          <a href ="/login"><li><spam>Login </spam><i class="fa-solid fa-user-astronaut"></i></li></a>
          {{/if}}
        </ul>
      </div>
    </header>
     
    </div>

    <aside>
      <ul>
        <li class="sidebar underline">Categories
           <div class="dropdown-content">
              <a href="/game/category/1">Single-player</a>
              <a href="/game/category/2">Multi-player</a>
              <a href="/game/category/3">Online Multi-Player</a>
              <a href="/game/category/4">Co-op</a>
              <a href="/game/category/5">Local Co-op</a>
              <a href="/game/category/6">Online Co-op</a>
              <a href="/game/category/7">Local Multi-Player</a>
            </div>
        </li> 

        <li class="sidebar underline">Platforms
          <div class="dropdown-content">
              <a href="/">PC</a>
          </div>
        </li>

        <li class="sidebar"><span class="underline">Genres</span>
          <ul>
            <li class="innerSidebar">
              <a href="/game/genres/1"><div class="genres-container"><img class="img-sidebar" src="/images/strategy.jpg"><span class="text-sidebar">Strategy</span></div></a>
            </li>
            
            <li class="innerSidebar">
              <a href="/game/genres/2"><div class="genres-container"><img class="img-sidebar" src="/images/shooter.jpg"><span class="text-sidebar">Action</span></div></a>
            </li>

            <li class="innerSidebar">
              <a href="/game/genres/3"><div class="genres-container"><img class="img-sidebar" src="/images/rpg.jpg"><span class="text-sidebar">RPG</span></div></a>
            </li>

            <li class="innerSidebar">
              <a href="/game/genres/4"><div class="genres-container"><img class="img-sidebar" src="/images/racing.jpg"><span class="text-sidebar">Racing</span></div></a>
            </li>
            
            <li class="innerSidebar">
              <a href="/game/genres/5"><div class="genres-container"><img class="img-sidebar" src="/images/sport.jpeg"><span class="text-sidebar">Sports</span></div></a>
            </li>
              
          </ul>
        </li>
      </ul>
     
      <div class="hover-part"><i class="fa-solid fa-arrow-right arrow"></i></div>
      {{!-- This is the search for the sidebar --}}
             <div class="searchGame-side">
                <input class="form-control searchSide" id="search" placeholder="Search Games" />
             </div>
    </aside>

    <main>
      {{{body}}}
    </main>

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}

    <footer></footer> 
  </body>
</html>


