<div class="games">
  {{#each displayGames as |game|}}
    <a href="/game/{{game.id}}">
      <div class="game-card">
        <img src="{{game.game_image}}" alt="{{game.name}}" />
        <h2>{{game.name}}</h2>
      </div>
    </a>
  {{/each}}
</div>

<div class="centerPag">
  <div class="pag"></div>
    <a id="href0" class="page" href=""></a>
    <a id="href1" class="page" href=""></a>
    <a id="href2" class="page" href=""></a>
    <a id="href3" class="page" href=""></a>
    <a id="href4" class="page" href=""></a>
    <a id="href5" class="page" href=""></a>
  </div>
</div>
<script type="text/javascript" src="/js/pagination.js"></script>
