<div class="games">
  {{#each displayGames as |game|}}
    <div>
      <a href="/game/{{game.id}}">
        <img src="{{game.game_image}}" alt="{{game.name}}" />
        <h2>{{game.name}}</h2>
      </a>
    </div>
  {{/each}}
</div>