<div class="games">
  {{#each displayGames as |game|}}
    <a href="/game/{{game.id}}">
      <div class="game-card">
        <img src="{{game.game_image}}" alt="{{game.name}}" />
        <h2>{{game.name}}</h2>
      </div>
    </a>
  {{/each}}
</div>

{{!-- <div  id="pagination"></div> --}}
{{!-- <div id="page-nav"></div> --}}
 {{!-- Links to pagination Script --}}
<script type="text/javascript" src="/simplePagination/jquery.simplePagination.js"></script>
<script type="text/javascript" src="/simplePagination/jquery.js"></script>
    