<div>
    <div>
        <h1><i class="fa-solid fa-user-astronaut"></i></h1>
        <h2>Login</h2>

        <form class="login-form">
            <div>
                <label for="email-login">email:</label>
                <input type="text" class="email-input">
            </div>
            <div>
                <label for="passowrd-login">password:</label>
                <input type="text" class="password-input">
            </div>
            <div>
                <button class="btn" type="button">login</button>
            </div>
        </form>
    </div>
</div>