<div class="center">
    <div class="login-card">
        <div class="form-login">
            <div class="center">
                <div class="login-Image"><h1><i class="fa-solid fa-user-astronaut"></i></h1></div>
                <div><h2 class="login_title">Login</h2></div>
            </div>
        </div>
        
        <form class="login-form">
            <div class="form-group">
                <label for="email-login" >User:</label>
                <input type="text" class="form-input" id="userName">
            </div>
            <div class="form-group">
                <label for="passowrd-login">password:</label>
                <input type="password" class="form-input" id="password-login" minlength="8">
            </div>
            <div class="form-group">
                <button class="btn" type="button" id="submit">Submit</button>
                <button class="btn" type="button" id="loginSignup">Sign up</button>                
            </div>
        </form>
            
    </div>
</div>  

 <script src="./js/loginSignup.js"></script>
