.images  {
    margin:50px 80px;
    display: grid;
    grid-template-columns: 1.15fr 0.33fr 0.33fr;
    gap: 30px;
    grid-template-areas: 
    "header . ."
    "header . .";
}

.container-image {
    width: 100%;
    grid-area: header;
}
.container-image img {
    width: 100%;
}

.container-image:hover .primary {
    opacity: 0.2;
}

.container-image:hover .info {
    opacity: 1;
}

.info {
    width:    fit-content;
    max-width: calc(100% - 40px);
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0;
}

.container-image {
    position: relative;
} 

.description {
    margin: 30px 80px;
    line-height: 1.2rem;
    color: #fafafa;
}

.game_comments{
    display:flex;
    justify-content: space-between;
    border: 2px solid black;
    background: var(--headerTextBoxColor);
    margin: 30px 80px;
    line-height: 1.2rem;
    color: #fafafa;
    padding:10px;
}

.comments_title {
    background-color: aliceblue;
	font-weight: bold;
	border: solid 2px black;
}
#addComment{
	width: 90%;
	border: solid 2px black;
	display: flex;
	justify-content: center;
}
#addComment:hover {
	color: black;
	background-color: var(--body);
}
#toggleComment{
	width: 90%;
	border: solid 2px black;
}
#toggleComment label {
	font-size: x-large;
}

#toggleComment input{
	width: 100%;
    background-color: black;
    color:aliceblue;
	margin-left: 20px;
}