/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* TODOS:
- Remove bg colors
- Fix sizes 
- Pick a font
- Pick colors
*/

:root {
    --backgroundColor:#1d222f;
    --headerTextBoxColor: #010427;
    --textColor: white;
    --secondaryColor: ;
    --highlightColor: #e60000;
    --errorMessages:'Rubik Glitch', cursive;
    --textNormal:'Fira Code', monospace;
    --gameTitle:'Share Tech Mono', monospace;
    --textDescription:'Chakra Petch', sans-serif;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}

body {
	background-color: var(--backgroundColor);
}

header {
	background-color: var(--headerTextBoxColor);
	color: var(--textColor);
	height: 100px;
    width: 100%;
	font-size: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--gameTitle); /*need to change the font-family*/
    position:fixed;
    top:0;

}

/*************** logo ***************/
.logo {
	width: 70px;
    margin:15px;
    margin-left: 30px;
}

.logo_name h1 {
    font-family: var(--textNormal);
}

.logo_name{
    display:flex;
}

/* *******************Login & Home icons******************** */
.header-li ul li { 
	display: inline-block;
	justify-content: space-between;
	letter-spacing: 1px;
	font-size: 25px;
    font-family: var(--gameTitle);
}

.header-li {
    margin-right:30px;
}
/*********** side bar ************************/
aside {
	position: fixed;
	top: 100px;
	left: -170px;
	width: 200px;
	height: 100%;
	transition: all 500ms;
	display: flex;  
    flex-direction: column;
	cursor: pointer;
    background-color: #010427bf;/*header with transparency*/ 
    color: var(--textColor);
    font-family: var(--textDescription);
    border-right: 0.5px solid rgba(255, 255, 255, 0.525);
}

aside:hover {
	left: 0;
}

aside ul .sidebar{
    display: block;
    font-size: 150%;
}

.hover-part {
    width:197px; 
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* .hover-part {
    width:210px; 
    height: 100%;
    display: flex;
    align-items: center;

} */

.arrow{
    font-size: 200%;
    color: var(--textColor);
}

/* ******************** game divs************************ */
main{
    margin-top:145px;
}

.games {
	/* display: grid; */
	display: flex;
	grid-template-columns: repeat(auto-fill, 200px);
	gap: 80px;
	flex-wrap: wrap;
	justify-content: center;
	justify-items: start;
	align-items: center;
	margin: 30px 10px;
}

/* TODO: just for view */
.games div {
	background-color: #201f1f;
	border-radius: 10px;
	overflow: hidden;
	background: var(--headerTextBoxColor);
	box-shadow: 0px 5px 5px 0px #c2bcbc;
	width: 300px;
	height: 400px;
	object-fit: cover;
}

.games div:hover {
	box-shadow: 7px 7px 10px var(--highlightColor);
}

.games h2 {
/* login-page */
   margin: 90px 10px;
   font-size: 2rem;
   color: #fafafa;
   font-family: var(--gameTitle);

}

/*================= Login Page ========================*/
.center{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 120%;
    

}

.login-card {
    display: block;
    align-content: center;
    justify-content: center;
    height: auto;
    width: 450;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
}

.form-login {
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    font-size: 200%;
}

.login-image,.login_title{
    align-items: center;
    font-size: 150%;
    font-family: var(--textDescription);
}

.middle {
    display: flex;
    justify-content: center;
    align-content: center;
}


form .form-group {
    display: block;
    width: 100%;
    margin: 0.625rem 0;
}

#label {
    font-family: var(--textDescription);
} 

form.form-group.btn {
    display: flex;
    justify-content: space-between;
}

form .form-input {
    display: block;
    width: 100%;
    height: 33px;
    border-radius: 15px;
    padding-left: 10px;
    border: 1px black solid;
}

.btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: var(--textColor);
    background-color: var(--backgroundColor);
    transition: background-color 0.5s ease-in-out;
    transition: color 0.3s ease-in-out;
  }

  .btn:hover {
    background-color: var(--headerTextBoxColor);
    color:white;
  }


