/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
	--backgroundColor: #1d222f;
	--headerTextBoxColor: #010427;
	--textColor: white;
	--secondaryColor: ;
	--highlightColor: #e60000;
	--errorMessages: 'Rubik Glitch', cursive;
	--textNormal: 'Fira Code', monospace;
	--gameTitle: 'Share Tech Mono', monospace;
	--textDescription: 'Chakra Petch', sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	background-color: var(--backgroundColor);
}

header {
	background-color: var(--headerTextBoxColor);
	color: var(--textColor);
	min-height: 100px;
	height: auto;
	width: 100%;
	font-size: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--gameTitle); 
	position: fixed;
	top: 0;
}

/*************** logo ***************/
.logo {
	width: 70px;
	margin: 15px;
	margin-left: 30px;
}

.logo_name h1 {
	font-family: var(--textNormal);
	font-size: 100%;
}

.logo_name {
	display: flex;
	align-items: center;
}

/* *******************Login & Home icons******************** */
.header-li ul li {
	display: inline-block;
	justify-content: space-between;
	letter-spacing: 1px;
	font-size: 25px;
	font-family: var(--gameTitle);
}

.header-li {
	margin-right: 30px;
}

#search{
	width: 225px;
	background-color:var(--textColor);
	color: black;
	border-radius: 12px;
	padding-left: 8px;
}


/************************ side bar ************************/
aside {
	position: fixed;
	top: 100px;
	left: -180px;
	width: 220px;
	height: 100%;
	transition: all 500ms;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	background-color: #010427bf; /*header with transparency*/
	color: var(--textColor);
	font-family: var(--textDescription);
	border-right: 0.5px solid rgba(255, 255, 255, 0.525);
	
}

#searchside{
	width: 180px;
	background-color:var(--textColor);
	color: black;
	font-family: var(--gameTitle);
	border-radius: 12px;
	padding-left: 8px;
	height: 40px;
	font-size: 25px;
	display: none;

}

aside:hover {
	left: 0;
}

aside ul {
	display: block;
	justify-content: space-between;
}

aside ul .sidebar {
	text-align: center;
	font-size: 150%;
	margin-top: 20px;
	
}

.underline{
	text-decoration: underline;
}

span.text-sidebar{
	text-decoration: none;
}

.hover-part {
	width: 216px;
	/* height: 100%; */
	display: flex;
	justify-content: flex-end;
	padding-top: 10px;
}

.arrow {
	font-size: 200%;
	color: var(--textColor);
}

/*********************** side bar elements  ***********************/

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--backgroundColor);
	min-width: 180px;
	z-index: 1;
	left:5px;
	
}

.dropdown-content a {
	color: var(--textColor);
	text-decoration: none;
	display: block;
	padding: 10px 0px;
}

.sidebar:hover .dropdown-content {
	display: block;
}



.genres-container {
	display: flex;
}

.img-sidebar {
	max-width: 60px;
	max-height: 45px;
	min-height: 45px;
	margin: 5px 10px;
}

.text-sidebar {
	padding-top: 16px;
	font-weight: bolder;
	font-family: var(--textDescription);
	
}
li .innerSidebar > .text-sidebar{
	text-decoration: none;
}

.innerSidebar {
	margin: 5px 0px;
	text-decoration: none;
}


/********************** Games Area Main page************************ */
main {
	margin-top: 145px;
}

.games {
	/* display: grid; */
	display: flex;
	grid-template-columns: repeat(auto-fill, 200px);
	gap: 80px;
	flex-wrap: wrap;
	justify-content: center;
	justify-items: start;
	align-items: center;
	margin: 30px 10px;
}

.games div {
	background-color: #201f1f;
	border-radius: 10px;
	overflow: hidden;
	background: var(--headerTextBoxColor);
	box-shadow: 7px 7px 10px #000000d6;
	width: 300px;
	height: 400px;
	object-fit: cover;
}

.games div:hover {
	box-shadow: 7px 7px 10px var(--highlightColor);
}

.games h2 {
	margin: 90px 10px;
	font-size: 2rem;
	color: #fafafa;
	font-family: var(--gameTitle);
}

/******************** Pagination ***************************/
#pagination  {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 120%;

}


/*********************** Login Page ***********************/
.center {
	display: flex;
	align-content: center;
	justify-content: center;
	font-size: 120%;
}

.login-card {
	display: block;
	align-content: center;
	justify-content: center;
	height: auto;
	width: 450;
	padding: 20px;
	margin: 20px;
	border-radius: 20px;
	background-color: white;
}

.form-login {
	display: block;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
	font-size: 200%;
}

.login-image,
.login_title {
	align-items: center;
	font-size: 150%;
	font-family: var(--textDescription);
}

.middle {
	display: flex;
	justify-content: center;
	align-content: center;
}

form .form-group {
	display: block;
	width: 100%;
	margin: 0.625rem 0;
}

#label {
	font-family: var(--textDescription);
}

form.form-group.btn {
	display: flex;
	justify-content: space-between;
}

form .form-input {
	display: block;
	width: 100%;
	height: 33px;
	border-radius: 15px;
	padding-left: 10px;
	border: 1px black solid;
}

.btn {
	text-align: center;
	display: inline-block;
	padding: 0.5rem 1.2rem;
	margin: 0;
	text-decoration: none;
	font-size: 1rem;
	border-radius: 0.3rem;
	border: 1px solid transparent;
	outline: none;
	color: var(--textColor);
	background-color: var(--backgroundColor);
	transition: background-color 0.5s ease-in-out;
	transition: color 0.3s ease-in-out;
}

.btn:hover {
	background-color: var(--headerTextBoxColor);
	color: white;
}

/*################## media Query Screen ######################*/

@media screen and (max-width:1150px) {
	header {
		flex-wrap: wrap;
	}

	.searchGame{
		display: none;
	}

	#searchside{
		display:inline;
	}

	.logo {
		max-width:62px;
		max-height: 55px;
	}	

	.logo_name h1 {
		font-size: 85%;
	}

	.games div {
		width: 225px;
		height: 300px;

	}
}
@media screen and (max-width:620px) {
	.logo {
		max-width:47px;
		max-height: 42px;
	}	
	.logo_name h1 {
		font-size: 60%;
	}

	header{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

@media screen and (max-width:545px) {
	/* .logo_name h1{
		display: none;
	} */

	.logo {
		max-width:47px;
		max-height: 42px;
	}

	a>li>spam{
		display: none;
	}


}



/* .img-sidebar {
	max-width: 60px;
	max-height: 45px;
	min-height: 45px;
	margin: 5px 10px;
} */